<div class="col-md-12">
    <div class="row">
        <div class="col-md-2" ><span>Profile Picture</span></div>
        <div class="col-md-3">
            <img width="100px" src="{{url}}">
        </div>
    </div>
    <div class="row">
        <div class="col-md-2" style="color: brown;"><span>User Name : </span></div>
        <div class="col-md-3"><span>{{userData.firstName}} &nbsp;&nbsp; {{userData.laststName}}</span></div>

        <div class="col-md-2" style="color: brown;"><span>Email</span></div>
        <div class="col-md-3"><span>{{userData.email}}</span></div>

        
    </div>
    <div class="row">
    <div class="col-md-2" style="color: brown;"><span>Phone Number</span></div>
        <div class="col-md-3"><span>{{userData.phone}}</span></div>

        <div class="col-md-2" style="color: brown;"><span>Address</span></div>
        <div class="col-md-3"><span>{{userData.address}}</span></div>
    </div>


</div>